.hero {
  height: calc(100vh - 80px);

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
}

.foody-title {
  font-size: 120px;
  color: #FF921C;
  font-weight: 900;
}