.navbar {
  background: #FF921C;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
  color: white;
}